certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.3
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
pycparser==2.22
Pygments==2.19.1
PySocks==1.7.1
requests==2.32.3
rich==14.0.0
stem==1.8.2
urllib3==2.4.0